body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #333;
    background-color: #fff;
    padding: 20px;
}


a {
    color: #349a4a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;

}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0d4b1a;
    color: #fff;
}


form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0d4b1a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0d4b1a;
}


.error {
    color: #349a4a;;
    font-weight: bold;
    margin-bottom: 10px;
}

#logoutButton {
    background-color: #d80a0a; /* Cor de fundo vermelha */
    color: #f0f0f0; /* Cor do texto branca */
    border: none; /* Remover a borda */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Mostrar o cursor como uma mão ao passar por cima */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Arredondar as bordas */
    position: absolute;
    top: 90%;
    left: 3%;
}

.logout {
    color: #f0f0f0;
    
}

